---
---

@import "bootstrap-dark";
@import "syntax-highlighting";
@import "main";


/* Setting up the image gallery */

.image-gallery {
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
justify-content: center;
padding: 4px;
}

.box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
    align-self: center;
}

.img-gallery {
width: 100%;
object-fit: cover;
transform: scale(1);
transition: all 0.3s ease-in-out;
&:hover {
transform: scale(1.05);
}
}


/* Setting up different image sizes for work pages */

img[src*="#50"] {
   width:50%;
   padding-right: 1em;
}

img[src*="#30"] {
   width:30%;
   padding-right: 1em;
}

/* Setting up a grid for en / ukr text */

.mt-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

@media screen and (max-width: 768px) {
.mt-4 {
    display: block;
}

}

/*FR code*/

/*colour changes*/

a:link {
    color: #909BAD;
}

a:hover {
  color:white;
}

.navbar-light .navbar-nav .nav-link {
    color: #909BAD;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar {
  border-bottom: 0.125rem solid #909BAD;
}

/*font definition*/

body {
  font-family: "Arial", var(--bs-font-sans-serif);
}

/*navigation bar alignments*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 1rem;
}

.nav-link {
  padding-bottom:0.3rem;
}

/*hamburger icon tweaks – next steps, in progress*/

.navbar-light {
  color: #909BAD;
}


.navbar-toggler{
  border: none;
}
