---
---

@import "bootstrap-dark";
@import "syntax-highlighting";
@import "main";


/* Setting up the image gallery */

.image-gallery {
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
justify-content: center;
padding: 4px;
grid-auto-flow: dense;
}

.box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
    align-self: center;
}

.img-gallery {
width: 100%;
object-fit: cover;
transform: scale(1);
transition: all 0.3s ease-in-out;
&:hover {
transform: scale(1.05);
}
}



/* Setting up different image sizes for work pages */

img[src*="#50"] {
   width:50%;
   padding-right: 1em;
}

img[src*="#30"] {
   width:30%;
   padding-right: 1em;
}

/*colour vars*/

@media (prefers-color-scheme: dark) {
  :root {

  --color-body: #ffffff;
  --color-back:#282c34;
  --color-dates:#949494;
}
}

@media (prefers-color-scheme: light) {
  :root {

  --color-body: #000000;
  --color-back:#fafafa;
  --color-dates:#6E6E6E;
}
}

/* Setting up a grid for en / ukr text */

.mt-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
}


/*FR code*/

/*colour changes*/

a:link {
    color: var(--color-body);
    font-weight: 700;
    text-decoration-color:var(--color-dates);
}

a:hover {
  text-decoration-color:var(--color-body);
}

a:visited {
  color: var(--color-body);
  text-decoration-color:var(--color-dates);
}

h4 a:hover {
  text-decoration-color:var(--color-body);
}

.post-date, .archive-date, .fs-4 {
  color: var(--color-dates);
}

.navbar-toggler-icon {
    color: var(--color-body);
}

.navbar-light, .navbar-nav {
    color: var(--color-body);
    font-weight: 300;
}


.navbar {
  border-bottom: 2px solid var(--color-body);
}

h4 a {
  color: var(--color-dates) !important;
}

h4 {
  font-weight: 700;
}

h5 a {
  font-weight: 300 !important;
}

/*font definition*/

body {
  font-family: "Arial", var(--bs-font-sans-serif);
  color: var(--color-body);
  background-color: var(--color-back);
}

/*navigation bar alignments*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 1rem;
}

.nav-link {
  padding-bottom:0.3rem;
  font-weight: 300 !important;
  color: var(--color-body) !important;
}

.active {
  font-weight: 700 !important;
  color: var(--color-body) !important;
}

/*hamburger icon tweaks – next steps, in progress*/

.navbar-toggler{
  border: none;
  color: var(--color-body);
}


/*home*/

.home-container{
  text-align: left;
}

.img-box {
  height: 75vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../images/While-I-can-see.jpeg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*all mobile layout settings here*/

@media screen and (max-width: 768px) {
.mt-4 {
    display: block;
}

.UKR {
    border-top: 1px solid var(--color-body);
    margin-top: 50px;
    padding-top: 30px;
  }


  img[src*="#50"] {
    flex-basis: 25%;
    align-self: center;
     width:70%;
     padding-right: 1em;
  }

  img[src*="#30"] {
    flex-basis: 25%;
    align-self: center;
     width:50%;
     padding-right: 1em;
  }

  .home-text {
    font-size: 15px;
  }

  .img-box {
    height: 50vh;
  }

}
